form {
    width: 500px;
    margin: 30px;
}

.btn2 {
    margin: 30px;
    width: 500px;
}

input{
    margin: 5px;
}

legend{

    padding-left: 20px;
    font-size: 15px;  
    font-weight: bold; 
}

h4{
    background-color: #3c10b6;
    color: aliceblue;
    border-radius: 5px;
    padding-left: 15px;
}