.logo {
    background-color: #3c10b6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  p{
    color:aliceblue;
    margin-bottom: 0;
  }

  span{
    color:antiquewhite;
    font-weight: bold;
    font-size: 25px;

  }